%% -*- erlang -*-
[
    {epubsub_client, [
        {port, 8000},
        {path, "/channel"},
        {worker_num, 1000},
        {start_interval, 60},
        {worker_lifetime, 80000},
        {send_interval, 50000},
        {payload_weight, 60}
    ]},

    %% Lager
    {lager, [
        {handlers, [
            {lager_console_backend, info}
        ]}
    ]}

].
