{sys, [
       {lib_dirs, ["../../", "../deps"]},
       {rel, "epubsub_client", "1",
        [
         kernel,
         stdlib,
         sasl,
         lager,
         epubsub_client
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "epubsub_client"},
       {profile, embedded},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, kernel, [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, compiler, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]},
       {app, syntax_tools, [{incl_cond, include}]},
       {app, inets, [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, lager, [{mod_cond, app}, {incl_cond, include}]},
       {app, deepprops, [{incl_cond, include}]},
       {app, supstance, [{incl_cond, include}]},
       {app, epubsub_client, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "epubsub_client"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/epubsub_client", "bin/epubsub_client"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
