[

    %% EPubSub
    {epubsub_client, [
        {port, 8000},
        {path, "/channel"},
        {worker_num, 30000},
        {start_interval, 100},
        {worker_lifetime, 6000000},
        {send_interval, 3200000},
        {payload_weight, 600}
    ]},

    %% Lager
    {lager, [
        {handlers, [
            {lager_console_backend, info}
        ]}
    ]},

    %% SASL config
    {sasl, [
        {sasl_error_logger, false}
    ]}

].

